[Unit]
Description=ICMP Exporter

[Service]
Type=simple
DynamicUser=true
ExecStart=/opt/icmp-exporter/icmp-exporter -hard -drop -interface6 auto -interface4 auto -listen 127.0.0.1:9116
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW

[Install]
WantedBy=multi-user.target
